<!DOCTYPE html>
<!--
@File   : registar_pagamento.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 27/06/2019, 09:20:30
-->
{% extends 'home_base.html' %}{% block corpo %}{% load static %}

<div id="">

    <div class="form-element">
        <div class="col-md-12 padding-0">
            <div class="col-md-12">
                <div class="panel form-element-padding">
                    <div class="panel-heading">
                        <h4>Registar Pagamento</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:30px;">
                        <div class="col-md-12">
                            <form role="form" action="{% url 'financas:registar-pagamento' %}" method="POST">
                                {% csrf_token %} {% autoescape on %}
                                <div class="col-md-6">
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-10 control-label">Nº Estudante / Nº B.I</label> {{ form.estudante }} {{ form.estudante.errors }}

                                    </div>
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-10 control-label">Curso</label> {{ form.curso }} {{ form.curso.errors }}

                                    </div>

                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-10 control-label ">Data de Pagamento</label> {{ form.data_pagamento }} {{ form.data_pagamento.errors }}

                                    </div>
                                    <ul class="form-group list-inline pull-right">
                                        <li><button type="submit" class="col-md-12 btn btn-primary salavar">Salvar</button></li>
                                    </ul>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-10 control-label ">Grau Academico</label> {{ form.grau }} {{ form.grau.errors }}
                                    </div>

                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-10 control-label ">Opção</label> {{ form.tipo }} {{ form.tipo.errors }}

                                    </div>
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-10 control-label">Valor a Pagar</label> {{ form.valor }} {{ form.valor.errors }}

                                    </div>


                                </div>

                                {% endautoescape %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>

{% endblock %}