<!DOCTYPE html> {% extends 'home_base.html' %}{% block corpo %}{% load static %}
<!--
@File   : emitir_declaracao.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 17/07/2019, 00:00:44
-->

<div class="col-md-12 modal-example">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h4>Consultar Dados do Estudante </h4>
            </div>
            <div class="panel-body">

                <div class="col-md-12">
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"></h4>
                                </div>
                                <form role="form" action="{% url 'secretaria:consultar-dados-pessoal' %}" method="POST">
                                    {% csrf_token %} {% autoescape on %}
                                    <div class="modal-body">

                                        <div class="col-sm-6 form-group" style="margin: 10px 0px !important;">
                                            <label class="col-sm-10 control-label ">Nº Estudante / Nº BI</label> {{ form.bi }} {{ form.bi.errors }}
                                        </div>
                                        <div class="col-sm-6 form-group" style="margin: 10px 0px !important;">
                                            <label class="col-sm-10 control-label ">Grau</label> {{ form.grau }} {{ form.grau.errors }}
                                        </div>
                                        <div class="form-group " style="margin: 10px 0px !important;">
                                            <label class="col-sm-10 control-label ">Curso</label> {{ form.curso }} {{ form.curso.errors }}
                                        </div>
                                        <div class="form-group " style="margin: 10px 0px !important;">
                                            <label class="col-sm-10 control-label ">Opção de Consulta</label> {{ form.tipo_consulta }} {{ form.tipo_consulta.errors }}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">CONSULTAR</button> {% endautoescape %}
                                </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                    </div>

                </div>
            </div>
        </div>
        {% endblock %}