<!DOCTYPE html> {% extends 'home_base.html' %}{% block corpo %}{% load static %}
<!--
@File   : emitir_declaracao.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 17/07/2019, 00:00:44
-->

<div class="col-md-12 modal-example">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                {% if escolha == 2 %}
                <h4>Consultar Dados do Estudante </h4>
                {% else %}
                <h4>Emitir Declaração do Estudante</h4>
                {% endif %}
            </div>
            <div class="panel-body">

                <div class="col-md-12">
                    <div class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Nº Estudante / Nº BI</h4>
                                </div>
                                {% if escolha == 2 %}
                                <form role="form" action="{% url 'secretaria:consultar-dados-pessoal' %}" method="POST">
                                    {% else %}
                                    <form role="form" action="{% url 'secretaria:emitir-delaracao' %}" method="POST" target="_blank">
                                        {% endif %} {% csrf_token %} {% autoescape on %}
                                        <div class="modal-body">
                                            {{ form.bi }} {{ form.bi.errors }}
                                        </div>
                                        {% if escolha == 2 %}
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">CONSULTAR</button>
                                        </div>
                                        {% else %}
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">EMITIR </button>
                                        </div>
                                        {% endif %} {% endautoescape %}
                                    </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>

            </div>
        </div>
    </div>
    {% endblock %}