<!DOCTYPE html> {% extends 'home_base.html' %}{% block corpo %}{% load static %}
<!--
@File   : registar_modulo.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 17/06/2019, 02:58:56
-->


<div id="">

    <div class="form-element">
        <div class="col-md-12 padding-0">
            <div class="col-md-12">
                <div class="panel form-element-padding">
                    <div class="panel-heading">
                        <h4>Basic Element</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:30px;">
                        <div class="col-md-12">
                            <form role="form" action="{% url 'secretaria:registar-cadastro' %}" method="POST">

                                <div class="col-md-6">
                                    <!-- inicio do primeiro bloco-->
                                    <div class="form-group ">
                                        <label class="col-sm-2 control-label">Normal1</label>
                                        <input type="text" class="form-control">

                                    </div>

                                    <div class="form-group ">
                                        <label class="col-sm-2 control-label text-right">Normal2</label>
                                        <input type="text" class="form-control">

                                    </div>
                                    <div class="form-group ">
                                        <label class="col-sm-2 control-label text-right">Normal2</label>
                                        <input type="text" class="form-control">

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="col-sm-2 control-label text-right">Normal3</label>
                                        <input type="text" class="form-control">

                                    </div>

                                    <div class="form-group ">
                                        <label class="col-sm-2 control-label text-right">Normal4</label>
                                        <input type="text" class="form-control">

                                    </div>
                                    <div class="form-group ">
                                        <label class="col-sm-2 control-label text-right">Normal4</label>
                                        <input type="text" class="form-control">

                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>

{% endblock %}