<!DOCTYPE html>{% extends 'home_base.html' %}{% block corpo %}{% load static %}
<!--
@File   : registar_confirma_matricula.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 24/06/2019, 01:53:43
-->



<div id="">
    <div class="form-element">
        <div class="col-md-12 padding-0">
            <div class="col-md-12">
                <div class="panel form-element-padding">
                    <div class="panel-heading">
                        <h4>Registar Confirmação de Matricula do Estudante</h4>
                    </div>
                    <div class="panel-body" style="padding-bottom:30px;">
                        <div class="col-md-12">
                            <form role="form" action="{% url 'secretaria:confirma-matricula' %}" method="POST">
                                {% csrf_token %} {% autoescape on %}

                                <!-- inicio do primeiro bloco-->
                                <div class="col-md-4">
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label">Número do Estudante/B.I Nº</label> {{ form.estudante }} {{ form.estudante.errors }}

                                    </div>
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">Ano</label> {{ form.ano }} {{ form.ano.errors }}
                                    </div>


                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">Semestre</label> {{ form.semestre }} {{ form.semestre.errors }}
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">Curso</label> {{ form.curso }} {{ form.curso.errors }}
                                    </div>
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">Especialidade</label> {{ form.especialidade }} {{ form.especialidade.errors }}
                                    </div>

                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">Data</label> {{ form.data_matricula }} {{ form.data_matricula.errors }}
                                    </div>
                                    <ul class="form-group list-inline ">
                                        <li><button type="submit" class="col-md-12 btn btn-primary next-step">Salvar</button></li>
                                    </ul>
                                </div>

                                <div class="col-md-4">

                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">1. Cadeiras em Atraso</label> {{ form.cadeira_atraso_1 }} {{ form.cadeira_atraso_1.errors }}
                                    </div>
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">2.</label> {{ form.cadeira_atraso_2 }} {{ form.cadeira_atraso_2.errors }}
                                    </div>
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">3.</label> {{ form.cadeira_atraso_3 }} {{ form.cadeira_atraso_3.errors }}
                                    </div>
                                    <div class="form-group " style="margin: -10px 0px !important;">
                                        <label class="col-sm-12 control-label ">4.</label> {{ form.cadeira_atraso_4 }} {{ form.cadeira_atraso_4.errors }}
                                    </div>
                                </div>



                                {% endautoescape %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}