<!DOCTYPE html>
<!--
@File   : home.html
@Author : Gunza Ismael ({__email})
@Link   :
@Date   : 16/06/2019, 11:58:58
-->
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="description" content="sofil web v.1">
    <meta name="author" content="gunza ismael">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPPPGL-UAN</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="{% static '/asset/css/bootstrap.min.css' %}">
    <link href="{% static '/asset/css/sweetalert2.css' %}" rel="stylesheet">

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="{% static '/asset/css/plugins/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/asset/css/plugins/simple-line-icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/asset/css/plugins/animate.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/asset/css/plugins/datatables.bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/asset/css/plugins/fullcalendar.min.css' %}" />
    <link href="{% static '/asset/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/asset/css/estilo.css' %}" rel="stylesheet">
    <!-- end: Css -->

    <link rel="shortcut icon" href="{% static '/asset/img/cppgl.jpg' %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="mimin" class="dashboard">
    <!-- start: Header -->
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <a href="{% url 'secretaria:home' %}" class="navbar-brand">
                    <b>CPPPGL-UAN</b>
                </a>
                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="user-name"><span> {{user.username }} </span></li>
                    <li class="dropdown avatar-dropdown">
                        <img src="{% static '/asset/img/user.png' %}" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" />
                        <ul class="dropdown-menu user-dropdown">
                            <li><a href="{% url 'utilizador:perfil' %}"><span class="fa fa-user"></span> Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="more">
                                <ul>
                                    <li><a href=""><span class="fa fa-cogs"></span></a></li>
                                    <li><a href="{% url 'utilizador:sair' %}"><span class="fa fa-power-off "></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->
    <div class="container-fluid mimin-wrapper">
        <!-- start:Left Menu -->
        <div id="left-menu">
            <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li>
                        <div class="left-bg"></div>
                    </li>
                    <li class="">
                        <div class="col-md-12">
                            <img src="{% static '/asset/img/cppgl.jpg' %}" class="col-sm-6 col-md-12 img-circle" />
                        </div>
                    </li>

                    <li class="active ripple">
                        <br>
                        <a class="tree-toggle nav-header"><span class="fa-home fa"></span> Secretaria
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <!-- <li><a href="{% url 'secretaria:atrbuir-estudante' %}"> Atribuir Número de Estudante</a></li>-->
                            <li><a href="{% url 'secretaria:registar-cadastro' %}"> Cadastrar estudante </a></li>
                            <li><a href="{% url 'secretaria:confirma-matricula' %}"> Confirmar Matricula</a></li>
                            <li><a href="{% url 'secretaria:registar-monografia' %}"> Inscrição da Dissertação</a></li>
                            <li><a href="{% url 'secretaria:consultar-dados-pessoal' %}"> Consultar Dados</a></li>
                            <li><a href="{% url 'secretaria:consultar-dados-cadastro' %}"> Alterar Dado de Cadastro</a></li>
                            <li><a href="{% url 'secretaria:lancamento-nota' %}">Lançamento de Nota</a></li>
                            <li><a href="{% url 'secretaria:monografia' %}">Listar Monografias</a></li>
                            <li><a href="{% url 'secretaria:nota_final' %}">Registar Nota da Monografia</a></li>
                            <li><a href="#"> Gerar Pauta</a></li>
                            <li class="ripple">
                                <a class="sub-tree-toggle nav-header">
                                    <span class="fa-file fa"></span> Emitir Declarações
                                    <span class="fa-angle-right fa right-arrow text-right"></span>
                                </a>
                                <ul class="nav nav-list sub-tree">
                                    <li><a href="{% url 'secretaria:emitir-delaracao' %}">Formato-> PDF</a></li>
                                    <li><a href="{% url 'secretaria:emitir-declaracao-word' %}">Formato-> Office Word</a></li>
                                    <!--<li><a href="#">Associar Modulo Existente</a></li>-->
                                </ul>
                            </li>
                            <li class="ripple">
                                <a class="sub-tree-toggle nav-header">
                                    <span class="fa fa-th-large"></span> Cadastrar Modulo
                                    <span class="fa-angle-right fa right-arrow text-right"></span>
                                </a>
                                <ul class="nav nav-list sub-tree">
                                    <li><a href="{% url 'secretaria:registar-modulo-mestrado' %}">Mestrado</a></li>
                                    <li><a href="{% url 'secretaria:registar-modulo-posGraduacao' %}">Pós-graduação</a></li>
                                    <li><a href="{% url 'secretaria:associar-modulo' %}">Associar ao Modulo Existente</a></li>
                                    <!--<li><a href="#">Associar Modulo Existente</a></li>-->
                                </ul>
                            </li>

                            <li class="ripple">
                                <a class="sub-tree-toggle nav-header">
                                    <span class="fa fa-th-list"></span> Listar Modulos
                                    <span class="fa-angle-right fa right-arrow text-right"></span>
                                </a>
                                <ul class="nav nav-list sub-tree">
                                    <li><a href="{% url 'secretaria:listar-modulos-mestrado' %}">Mestrado</a></li>
                                    <li><a href="{% url 'secretaria:listar-modulos-posgraduacao' %}">Pós-graduação</a></li>
                                </ul>
                            </li>
                            <li class="ripple">
                                <a class="sub-tree-toggle nav-header">
                                    <span class="fa fa-th-list"></span> Listar Estudante
                                    <span class="fa-angle-right fa right-arrow text-right"></span>
                                </a>
                                <ul class="nav nav-list sub-tree">
                                    <li><a href="{% url 'secretaria:estudantes-matriculados' %}">Listar Estudantes Matriculado</a></li>
                                    <li><a href="{% url 'secretaria:lista-estudante-pdf' %}">Gerar Listagem em PDF</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa-diamond fa"></span> Finanças
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="{% url 'financas:registar-pagamento' %}">Registar Pagamento</a></li>
                            <li><a href="{% url 'financas:listar-pagamento' %}">Listar Pagamento</a></li>
                            <li><a href="{% url 'financas:listar-divida' %}">Listar Divida</a></li>
                            <!--<li><a href="#">Consultar pagamento</a></li>-->
                        </ul>
                    </li>

                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa-area-chart fa"></span> Estatística
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li class="ripple">
                                <a class="sub-tree-toggle nav-header">
                                    <span class="fa fa-bar-chart-o"></span> Mestrado
                                    <span class="fa-angle-right fa right-arrow text-right"></span>
                                </a>
                                <ul class="nav nav-list sub-tree">
                                    <li><a href="{% url 'estatistica:menu-mestrado' %}">Menu-geral</a></li>
                                </ul>
                            </li>
                            <li class="ripple">
                                <a class="sub-tree-toggle nav-header">
                                    <span class="fa fa-line-chart"></span> Pós-graduação
                                    <span class="fa-angle-right fa right-arrow text-right"></span>
                                </a>
                                <ul class="nav nav-list sub-tree">
                                    <li><a href="#">Menu-geral</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-pencil-square"></span> Relatório
                            <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Gerar Relatorio</a></li>
                            <li><a href="#">Listar Relatorios</a></li>
                            <li><a href="#">Consultar Dados </a></li>
                        </ul>
                    </li>-->
                    <li class="ripple"><a class="tree-toggle nav-header"><span class="fa fa-user"></span> Utilizador
                            <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="{% url 'utilizador:registar-utilizador' %}"> Registar Utilizador </a></li>
                            <li><a href="{% url 'utilizador:conta_utilizador' %}"> Criar Conta de Utilizador</a></li>
                            <li><a href="{% url 'utilizador:listar_utilizador' %}">Listar Contas de Utlizadores</a></li>
                            <!--<li><a href="#">Consultar Utilizador</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end: Left Menu -->


        <!-- start: content -->
        <div id="content">
            <div class="panel box-shadow-none content-header">
                <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft"> <strong> SERVIÇOS ACADÉMICOS</strong> </h3>

                    </div>
                </div>
            </div>

            {% block corpo %} {% endblock %}
            <div class="col-md-12">
                <div class="panel bg-green text-white">

                </div>
            </div>
        </div>
    </div>
    <!-- end: content -->

    </div>

    <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
        <span class="fa fa-bars"></span>
    </button>
    <!-- end: Mobile -->

    <!-- start: Javascript -->
    <script src="{% static '/asset/js/jquery.min.js' %}"></script>
    <script src="{% static '/asset/js/jquery.ui.min.js' %}"></script>
    <script src="{% static '/asset/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/asset/js/plugins/jquery.nicescroll.js' %}"></script>


    <!-- plugins -->
    <script src="{% static '/asset/js/plugins/moment.min.js' %}"></script>
    <script src="{% static '/asset/js/plugins/jquery.datatables.min.js' %}"></script>
    <script src="{% static '/asset/js/plugins/datatables.bootstrap.min.js' %}"></script>
    <script src="{% static '/asset/js/plugins/fullcalendar.min.js' %}"></script>
    <script src="{% static '/asset/js/plugins/jquery.mask.min.js' %}"></script>
    <script src="{% static '/asset/js/plugins/chart.min.js' %}"></script>
    <script src="{% static '/asset/js/wizard.js' %}"></script>
    <script src="{% static '/asset/js/sweetalert2.js' %}"></script>
    <script src="{% static '/asset/js/forms_secretaria.js' %}"></script>
    <script src="{% static '/asset/js/forms_financas.js' %}"></script>
    <script src="{% static '/asset/js/nota.js' %}"></script>

    <!-- GRAFICOSS-->
    <script src="{% static '/asset/highcharts/code/highcharts.js' %}"></script>
    <script src="{% static '/asset/highcharts/code/highcharts-3d.js' %}"></script>
    <script src="{% static '/asset/highcharts/code/modules/cylinder.js' %}"></script>
    <script src="{% static '/asset/highcharts/code/modules/export-data.js' %}"></script>
    <script src="{% static '/asset/highcharts/code/modules/exporting.js' %}"></script>
    <script src="{% static '/asset/js/grafico/mestrado.js' %}"></script>


    <!-- custom -->
    <script src="{% static '/asset/js/main.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatables-example').DataTable();


        });
    </script>
    {% load sweetify %} {% sweetify %}


</body>

</html>