<!DOCTYPE html> {% extends 'home_base.html' %}{% block corpo %}{% load static %}
<!--
@File   : estatistica_mestrado.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 03/11/2019, 14:46:03
-->

<div id="">
    <div class="col-md-12 padding-0" style="margin-top:20px;">
        <div class=" col-md-1">

            <div id="probido_ver" style="display:none">
                <p id="total_curso"> {{ total_curso }}</p>
                <p id="total_masculino"> {{ total_masculino }}</p>
                <p id="total_femenino"> {{ total_femenino }}</p>
            </div>

        </div>
        <div class="col-md-12 padding-0">

            <div class="col-md-6 padding-0">
                <div class="col-md-12 padding-0">

                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading-white panel-heading">
                                <h4>{{ titulo }} </h4>
                            </div>
                            <div class="panel-body" style="">
                                <div class="" id="mestrado_container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading-white panel-heading">
                        <h4>Reservado</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <canvas class="line-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- esse esta ocultado -->
        <div class="col-md-12">
            <div class="panel" style="display:none">
                <div class="panel-heading-white panel-heading">
                    <h4>Bar Chart</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <canvas class="bar-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}